<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>name</key>
            <string>Chinese Food</string>
            <key>group</key>
            <string>Asian</string>
            <key>image</key>
            <string>background-2</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Thai Food</string>
            <key>group</key>
            <string>Asian</string>
            <key>image</key>
            <string>background-2</string>
        </dict>
        <dict>
            <key>name</key>
            <string>British Food</string>
            <key>group</key>
            <string>Western</string>
            <key>image</key>
            <string>background-2</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Americans Food</string>
            <key>group</key>
            <string>Western</string>
            <key>image</key>
            <string>background-2</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Italian Food</string>
            <key>group</key>
            <string>Western</string>
            <key>image</key>
            <string>background-2</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Russian Food</string>
            <key>group</key>
            <string>Western</string>
            <key>image</key>
            <string>background-2</string>
        </dict>
    </array>
</plist>
